main{
    font-family: 'Source Code Pro', monospace;
    background: url('img/876546.jpg');
}
.main-container{
    display: grid;
    grid-template-columns: 15% 85%;
}
.top-menu a{
    text-decoration: none;
    color:#000000;
}
.top-menu a:hover {
    text-decoration: none;
    color: #000000;
    border-bottom: 5px solid rgb(5, 204, 5);
    border-top: 5px solid red;
}
.town{
    font-size: 12px;
    background: url('img/4813762.jpg');
    width: 90%;
    margin-top: 30px;
}
.Logo{
    max-width: 75%;
    min-width: 70px;
    max-height: 75%;
    min-height: 70px;
    justify-self: center;
    align-self: center;
}
.menu{
    display: grid;
    max-width: 220px;
    grid-template-columns: 100%;
    grid-gap: 10px;
    justify-self: center;
    font-family: 'Source Code Pro', monospace;
    background: url('img/yellow_diagonal_geometric_striped_background_with_halftone_detailed.jpg');
    border-radius: 50px;
}
.ls a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-weight: bold;
    position: relative;
    animation: 1s lerender linear;
}
.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.one, .two, .three, .four, .five, .six, .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-8{
    position: relative;
}
.one{
    animation: 0.7s render linear;
}
.two{
    animation: 0.9s render linear;
}
.three{
    animation: 1.1s render linear;
}
.four{
    animation: 1.3s render linear;
}
.five{
    animation: 1.5s render linear;
}
.six{
    animation: 1.7s render linear;
}
.item-1{
    animation: 0.4s lerender linear;
}
.item-2{
    animation: 0.6s lerender linear;
}
.item-3{
    animation: 0.8s lerender linear;
}
.item-4{
    animation: 1.0s lerender linear;
}
.item-5{
    animation: 1.2s lerender linear;
}
.item-6{
    animation: 1.4s lerender linear;
}
.item-8{
    animation: 1.6s lerender linear;
}
@keyframes lerender {
    0% {
        left: -20px;
        opacity: 0;
    }

    50% {
        left: -10px;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}
@keyframes render {
    0% {
        top: -20px;
        opacity: 0;
    }

    50% {
        top: -10px;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}
.logoName{
        max-width: 10%;
        min-width: 70px;
        max-height: 75%;
        min-height: 70px;
}
.main-name{
    margin-left: 30px;
    font-size: 32px;
    font-weight: bolder;
}
.ls a:hover{
    border-bottom: 5px solid rgb(5, 204, 5);
    border-top: 5px solid red;
}
.menu-item{
    padding: 10px;
    justify-self: center;
    align-items: flex-start;
}
.top-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    align-self: center;
    font-size: 25px;
    font-weight: bold;
}
.burg, .hot, .garnir, .drinks, .grass, .sweet{
    margin-left: 10px;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    margin-top: 70px;
}

/* Hide the images by default */
.mySlides {
    display: none;
    padding-left: 180px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.mySlides img {
    max-width: 70%;
    max-height: 70%;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgb(204, 204, 204);
}

/* Caption text */
.text {
    color: #000000;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.promo{
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
}
.rest, .delivery{
    max-width: 15%;
    min-width: 110px;
    max-height: 15%;
    min-width: 140px;
    margin-left: 20px;
}
.text{
    margin-left: 30px;
    font-weight: bold;
}
.numbertext{
    font-size:35px;
    margin-top: -35px;
}
.footer{
    background-color: white;
    font-family: 'Source Code Pro', monospace;
}
.morephoto{
    display: flex;  
    flex-direction: row;
    justify-content: center;
}
.preim{
    margin-top: 40px;
    margin-left: 30px;
}
footer {
    color: rgb(0, 0, 0);
    margin-right: -8.2px;
    padding: 0;
    border-top: 2px rgb(115, 255, 0) solid;
}

.footer-all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
}

footer a:hover {
    transform: scale(1.1);
}
.txt-up {
    font-size: 25px;
}

.foot-ic {
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.mastc {
    width: 40px;
}
@media screen and (max-width: 400px){
    .logoName{
        height: 10px;    
    }
    .main-name{
    font-size: 20px;
    }
    .top-menu{
    font-size: 15px;
    border-radius: 40px;
    margin-left: 25px;
    }
    .town{
        display: none;
    }
    .menu-item a{
        font-size: 15px;
        font-weight: bold;
    }
    .item-8{
        display: none;
    }
    .menu{
        font-size: 5px;
        width: 80px;
    }
    .mySlides img{
        margin-left: -70px;
    }
    .prev{
        margin-left: 40px;
    }
    .next{
        margin-right: 40px;
    }
    .numbertext{
        margin-left: -110px;
        margin-top: -60px;
    }
    .text{
        display: none;
    }
    .morephoto{
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .promo{
        margin-left: -100px;
    }
    .footer-all{
        flex-direction: column;
    }
}
@media screen and (max-width: 1000px){
    .logoName {
            height: 10px;
        }
    
        .main-name {
            font-size: 20px;
        }
    
        .top-menu {
            font-size: 15px;
            border-radius: 40px;
            margin-left: 25px;
        }
    
        .town {
            display: none;
        }
    
        .menu-item a {
            font-size: 15px;
            font-weight: bold;
        }
    
        .item-8 {
            display: none;
        }
    
        .menu {
            font-size: 5px;
            width: 80px;
        }
    
        .mySlides img {
            margin-left: -70px;
        }
    
        .prev {
            margin-left: 40px;
        }
    
        .next {
            margin-right: 40px;
        }
    
        .numbertext {
            margin-left: -110px;
            margin-top: -60px;
        }
    
        .text {
            display: none;
        }
    
        .morephoto {
            flex-direction: column;
        }
        .preim{
            margin-left: 100px;
        }
        .promo {
            margin-left: -60px;
        }
    
        .footer-all {
            flex-direction: column;
        }
}
@media screen and (max-width: 1400px){
    .morephoto{
        margin-left: -150px;
    }
}
